body {
    font-family: Verdana;
}
h1 {
    font-family: Georgia;
}
#canvas {
    width: 600px;
    padding: 200px 20px;
    text-align: center;
    border: 1px solid chartreuse;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
.taxi-driver {
    background: red;
    color: white;
    padding: 10px;
    display: inline-block;
    margin: 10px 0;
    border-radius: 10px;
}

.available {
    background: green;
}

.nearby:after {
    content: "nearby";
    margin-left: 10px;
}